.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'DM Mono', monospace;
  font-size: 1.2em;
  line-height: 1.4;
}

.prose img {
  width: 100%;
}

.prose blockquote {
  border-left: 6px solid #22d3ee;
}
.prose hr {
  border-top: 1px solid #1e293b;
}
html.dark .prose hr {
  border-top: 1px solid #475569;
}


html.dark .prose h1,
html.dark .prose h2,
html.dark .prose h3,
html.dark .prose h4,
html.dark .prose h5,
html.dark .prose h6 {
  color: #22d3ee;
}

.prose ul li::marker {
  color: #22d3ee;
}
.prose ol li::marker {
  color: #1e293b;
}

html.dark .prose a {
  color: #22d3ee;
  text-decoration: underline;
}

.prose a {
  color: #0891b2;
  text-decoration: underline;
}

.shiki-light {
  background: #f4fdff !important;
  border: 1px solid #fecaca;
}
.shiki-dark {
  background: #0e0e0e !important;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

/* for inline code */
/* .prose code {
  background: pink;
  border-radius: 5px;
  color: #f8f8f8;
  font-family: 'DM Mono', monospace;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
} */

.prose p code {
  background: #e7e5e4;
  font-family: monospace;
  font-size: 1.2em;
  font-weight: normal;
  padding: 0.2em 0.4em;
  margin-right: 0.1em;
  margin-left: 0.1em;
}
html.dark .prose p code {
  background-color: #123e4f;
  font-family: monospace;
  font-size: 1.2em;
  font-weight: normal;
  padding: 0.2em 0.4em;
  margin-right: 0.1em;
  margin-left: 0.1em;
}



.prose p code::before {
  content: "";
}
.prose p code::after {
  content: "";
}
