.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'DM Mono', monospace;
  font-size: 1.2em;
  line-height: 1.4;
}

.prose img {
  width: 100%;
}

.prose blockquote {
  border-left: 6px solid #22d3ee;
}
.prose hr {
  border-top: 1px solid #1e293b;
}
html.dark .prose hr {
  border-top: 1px solid #475569;
}


html.dark .prose h1,
html.dark .prose h2,
html.dark .prose h3,
html.dark .prose h4,
html.dark .prose h5,
html.dark .prose h6 {
  color: #22d3ee;
}

.prose ul li::marker {
  color: #22d3ee;
}
.prose ol li::marker {
  color: #1e293b;
}

html.dark .prose a {
  color: #22d3ee;
  text-decoration: underline;
}

.prose a {
  color: #0891b2;
  text-decoration: underline;
}

.shiki-light {
  background: #f8f8f8 !important;
}
.shiki-dark {
  background: #0e0e0e !important;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}
